/*
Meraki Dashboard API

A RESTful API to programmatically manage and monitor Cisco Meraki networks at scale.  > Date: 03 July, 2024 > > [Recent Updates](https://meraki.io/whats-new/)  ---  [API Documentation](https://meraki.io/api)  [Community Support](https://meraki.io/community)  [Meraki Homepage](https://www.meraki.com) 

API version: 1.48.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// BandwidthUsageHistoryAPIService BandwidthUsageHistoryAPI service
type BandwidthUsageHistoryAPIService service

type BandwidthUsageHistoryAPIGetNetworkClientsBandwidthUsageHistoryRequest struct {
	ctx context.Context
	ApiService *BandwidthUsageHistoryAPIService
	networkId string
	t0 *string
	t1 *string
	timespan *float32
	perPage *int32
	startingAfter *string
	endingBefore *string
}

// The beginning of the timespan for the data. The maximum lookback period is 30 days from today.
func (r BandwidthUsageHistoryAPIGetNetworkClientsBandwidthUsageHistoryRequest) T0(t0 string) BandwidthUsageHistoryAPIGetNetworkClientsBandwidthUsageHistoryRequest {
	r.t0 = &t0
	return r
}

// The end of the timespan for the data. t1 can be a maximum of 31 days after t0.
func (r BandwidthUsageHistoryAPIGetNetworkClientsBandwidthUsageHistoryRequest) T1(t1 string) BandwidthUsageHistoryAPIGetNetworkClientsBandwidthUsageHistoryRequest {
	r.t1 = &t1
	return r
}

// The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.
func (r BandwidthUsageHistoryAPIGetNetworkClientsBandwidthUsageHistoryRequest) Timespan(timespan float32) BandwidthUsageHistoryAPIGetNetworkClientsBandwidthUsageHistoryRequest {
	r.timespan = &timespan
	return r
}

// The number of entries per page returned. Acceptable range is 3 - 1000. Default is 1000.
func (r BandwidthUsageHistoryAPIGetNetworkClientsBandwidthUsageHistoryRequest) PerPage(perPage int32) BandwidthUsageHistoryAPIGetNetworkClientsBandwidthUsageHistoryRequest {
	r.perPage = &perPage
	return r
}

// A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
func (r BandwidthUsageHistoryAPIGetNetworkClientsBandwidthUsageHistoryRequest) StartingAfter(startingAfter string) BandwidthUsageHistoryAPIGetNetworkClientsBandwidthUsageHistoryRequest {
	r.startingAfter = &startingAfter
	return r
}

// A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
func (r BandwidthUsageHistoryAPIGetNetworkClientsBandwidthUsageHistoryRequest) EndingBefore(endingBefore string) BandwidthUsageHistoryAPIGetNetworkClientsBandwidthUsageHistoryRequest {
	r.endingBefore = &endingBefore
	return r
}

func (r BandwidthUsageHistoryAPIGetNetworkClientsBandwidthUsageHistoryRequest) Execute() ([]GetNetworkClientsBandwidthUsageHistory200ResponseInner, *http.Response, error) {
	return r.ApiService.GetNetworkClientsBandwidthUsageHistoryExecute(r)
}

/*
GetNetworkClientsBandwidthUsageHistory Returns a timeseries of total traffic consumption rates for all clients on a network within a given timespan, in megabits per second.

Returns a timeseries of total traffic consumption rates for all clients on a network within a given timespan, in megabits per second.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param networkId Network ID
 @return BandwidthUsageHistoryAPIGetNetworkClientsBandwidthUsageHistoryRequest
*/
func (a *BandwidthUsageHistoryAPIService) GetNetworkClientsBandwidthUsageHistory(ctx context.Context, networkId string) BandwidthUsageHistoryAPIGetNetworkClientsBandwidthUsageHistoryRequest {
	return BandwidthUsageHistoryAPIGetNetworkClientsBandwidthUsageHistoryRequest{
		ApiService: a,
		ctx: ctx,
		networkId: networkId,
	}
}

// Execute executes the request
//  @return []GetNetworkClientsBandwidthUsageHistory200ResponseInner
func (a *BandwidthUsageHistoryAPIService) GetNetworkClientsBandwidthUsageHistoryExecute(r BandwidthUsageHistoryAPIGetNetworkClientsBandwidthUsageHistoryRequest) ([]GetNetworkClientsBandwidthUsageHistory200ResponseInner, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []GetNetworkClientsBandwidthUsageHistory200ResponseInner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BandwidthUsageHistoryAPIService.GetNetworkClientsBandwidthUsageHistory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/networks/{networkId}/clients/bandwidthUsageHistory"
	localVarPath = strings.Replace(localVarPath, "{"+"networkId"+"}", url.PathEscape(parameterValueToString(r.networkId, "networkId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.t0 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "t0", r.t0, "")
	}
	if r.t1 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "t1", r.t1, "")
	}
	if r.timespan != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timespan", r.timespan, "")
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "perPage", r.perPage, "")
	}
	if r.startingAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startingAfter", r.startingAfter, "")
	}
	if r.endingBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endingBefore", r.endingBefore, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["meraki_api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Cisco-Meraki-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest struct {
	ctx context.Context
	ApiService *BandwidthUsageHistoryAPIService
	organizationId string
	networkTag *string
	deviceTag *string
	networkId *string
	ssidName *string
	usageUplink *string
	t0 *string
	t1 *string
	timespan *float32
}

// Match result to an exact network tag
func (r BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest) NetworkTag(networkTag string) BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest {
	r.networkTag = &networkTag
	return r
}

// Match result to an exact device tag
func (r BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest) DeviceTag(deviceTag string) BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest {
	r.deviceTag = &deviceTag
	return r
}

// Match result to an exact network id
func (r BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest) NetworkId(networkId string) BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest {
	r.networkId = &networkId
	return r
}

// Filter results by ssid name
func (r BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest) SsidName(ssidName string) BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest {
	r.ssidName = &ssidName
	return r
}

// Filter results by usage uplink
func (r BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest) UsageUplink(usageUplink string) BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest {
	r.usageUplink = &usageUplink
	return r
}

// The beginning of the timespan for the data.
func (r BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest) T0(t0 string) BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest {
	r.t0 = &t0
	return r
}

// The end of the timespan for the data. t1 can be a maximum of 186 days after t0.
func (r BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest) T1(t1 string) BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest {
	r.t1 = &t1
	return r
}

// The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 186 days. The default is 1 day.
func (r BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest) Timespan(timespan float32) BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest {
	r.timespan = &timespan
	return r
}

func (r BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest) Execute() ([]GetOrganizationClientsBandwidthUsageHistory200ResponseInner, *http.Response, error) {
	return r.ApiService.GetOrganizationClientsBandwidthUsageHistoryExecute(r)
}

/*
GetOrganizationClientsBandwidthUsageHistory Return data usage (in megabits per second) over time for all clients in the given organization within a given time range.

Return data usage (in megabits per second) over time for all clients in the given organization within a given time range.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId Organization ID
 @return BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest
*/
func (a *BandwidthUsageHistoryAPIService) GetOrganizationClientsBandwidthUsageHistory(ctx context.Context, organizationId string) BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest {
	return BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//  @return []GetOrganizationClientsBandwidthUsageHistory200ResponseInner
func (a *BandwidthUsageHistoryAPIService) GetOrganizationClientsBandwidthUsageHistoryExecute(r BandwidthUsageHistoryAPIGetOrganizationClientsBandwidthUsageHistoryRequest) ([]GetOrganizationClientsBandwidthUsageHistory200ResponseInner, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []GetOrganizationClientsBandwidthUsageHistory200ResponseInner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BandwidthUsageHistoryAPIService.GetOrganizationClientsBandwidthUsageHistory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{organizationId}/clients/bandwidthUsageHistory"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.networkTag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "networkTag", r.networkTag, "")
	}
	if r.deviceTag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceTag", r.deviceTag, "")
	}
	if r.networkId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "networkId", r.networkId, "")
	}
	if r.ssidName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ssidName", r.ssidName, "")
	}
	if r.usageUplink != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "usageUplink", r.usageUplink, "")
	}
	if r.t0 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "t0", r.t0, "")
	}
	if r.t1 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "t1", r.t1, "")
	}
	if r.timespan != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timespan", r.timespan, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["meraki_api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Cisco-Meraki-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
